.react-confirm-alert-overlay {
  position: absolute;
  z-index: 10000;
}

.Modal-module_modalTitle__1TtY9 {
  color: black !important;
  padding: 15px;
  font-size: 17px;
}
.Modal-module_modalCloseIcon__20QFz {
  height: 17px;
}

input[type="password"]:focus,
input[type="email"]:focus {
  background-color: #fff;
  border-bottom: 2px solid #51b461;
}
