@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&family=Spartan:wght@300&display=swap");
* {
  font-family: "Montserrat Alternates", sans-serif;

  font-family: "Spartan", sans-serif;
}
.Home {
  width: 100%;
  margin: 0 auto;
  background-color: rgb(24, 21, 21);
  height: fit-content !important;
  padding-bottom: 5%;
}

.Home div {
  width: 86%;
  margin: 3% auto;
  color: white;
  font-size: 18px;
}

.Home h3 {
  margin-top: 5%;
  color: white;
  font-size: 30px;
}
.englishmissions {
  display: flex;
  flex-direction: column;
}
.arabicmissions {
  display: flex;
  flex-direction: column;
}

.englishvisions {
  display: flex;
  flex-direction: column;
}
.arabicvisions {
  display: flex;
  flex-direction: column;
}

.footer {
  background-color: rgb(24, 21, 21);
  padding: 2%;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
.fa-facebook {
  background: #3b5998;
  color: white;
}

.title {
  position: relative;
  margin: 0;
  font-size: 4em;
  font-weight: 900;
  color: rgb(56, 52, 52);
  z-index: 1;
  overflow: hidden;
}

.title::before {
  content: "";
  position: absolute;
  left: 110%;
  width: 120%;
  height: 100%;
  background-color: white;
  animation: animate 10s infinite;
}

@keyframes animate {
  0% {
    left: 120%;
  }
  30% {
    opacity: 0.7;
    width: 100%;
  }
  50% {
    opacity: 0.5;
    width: 80%;
  }
  60% {
    opacity: 0.3;
    width: 40%;
  }
  80% {
    opacity: 0.2;
    width: 10%;
  }
  90% {
    opacity: 0;
    width: -20%;
  }
  100% {
    left: -20%;

    opacity: 0;
  }
}

.titletwo {
  position: relative;
  margin: 0;
  font-size: 4em;
  font-weight: 900;
  color: white;
  z-index: 1;
  overflow: hidden;
}

.titletwo::before {
  content: "";
  position: absolute;
  left: 0%;
  width: 120%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.705);
  animation: animatetwo 10s infinite;
}

@keyframes animatetwo {
  0% {
    left: -120%;
    opacity: 0;
    color: white;
  }
  20% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.7;
  }
  70% {
    opacity: 0.5;
  }
  80% {
    opacity: 0.2;
  }
  100% {
    left: 120%;
    opacity: 0;
  }
}

.homeimage {
  width: 99.2vw;
  margin-top: -10.45%;
  background-image: url("../../Images/Home-page.jpg");
  background-attachment: fixed;
  background-size: cover;
  height: 103vh;
}

.homeimage h1 {
  font-size: 40px;
  font-family: "Arapey", serif;
  color: block;
}
.wave {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-left: 2% !important;
}
.wave span {
  position: relative;
  display: inline-block;
  color: white;
  font-size: 2em;
  animation: jump 2s ease-in-out infinite;
  animation-delay: calc(0.1s * var(--i));
  margin-left: 10%;
}
@keyframes jump {
  0% {
    transform: translateY(0px);
  }
  20% {
    transform: translateY(-20px);
    opacity: 0;
  }
  30% {
    transform: translateY(-20px);
    opacity: 0;
  }
  20% {
    transform: translateY(-20px);
    opacity: 0;
  }
  40%,
  100% {
    transform: translateY(0px);
  }
}

.wavve {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-left: 2% !important;
}
.wavve span {
  position: relative;
  display: inline-block;
  color: black;
  font-size: 13px;
  animation: jumpp 2s ease-in-out infinite;
  animation-delay: calc(0.1s * var(--i));
  margin-left: 10%;
}
@keyframes jumpp {
  0% {
    transform: translateY(0px);
  }
  20% {
    transform: translateY(-20px);
    opacity: 0.4;
  }
  30% {
    transform: translateY(-20px);
    opacity: 0.4;
  }
  20% {
    transform: translateY(-20px);
    opacity: 0.4;
  }
  40%,
  100% {
    transform: translateY(0px);
  }
}

@media only screen and (max-width: 480px) {
  .homeimage {
    margin-top: -25%;
    height: 80vw !important;
  }
  .signinbutton {
    margin-top: -4% !important;
  }
  #logout {
    margin-top: -4% !important;
  }
  #logo {
    left: 85%;
    margin-top: -6%;
  }
  .title {
    padding-top: 35% !important;
    font-size: 25px !important;
  }
  .titletwo {
    font-size: 25px !important;
  }
  .Home {
    height: fit-content !important;
  }
  .flex-wrapper {
    display: flex;
    flex-direction: column !important;
    height: 210vh !important;
    margin-top: -30% !important;
  }
  .flex-inner {
    width: 100% !important;
    padding-bottom: 15%;
  }
  .flex-inner:nth-child(2) {
    margin-top: -50% !important;
  }
  .flex-inner p {
    width: 80%;
    margin: 0 auto;
  }
  .flex-inner img {
    height: 50% !important;
    width: 60% !important;
  }

  .booknow {
    position: static !important;
  }
  .wave {
    font-size: 10px !important;
  }
}

@media only screen and (max-width: 480px) {
  .homeimage {
    margin-top: -31%!important;
    height: 80vw !important;
  }
  .signinbutton {
    margin-top: -4% !important;
  }
  #logout {
    margin-top: -4% !important;
  }
  #logo {
    left: 85%;
    margin-top: -6%;
  }
  .title {
    padding-top: 35% !important;
    font-size: 25px !important;
  }
  .titletwo {
    font-size: 25px !important;
  }
  .Home {
    height: fit-content !important;
  }
  .editprofile {
    position: static !important;
  }
  .flex-wrapper {
    display: flex;
    flex-direction: column !important;
    height: 210vh !important;
    margin-top: -30% !important;
  }
  .flex-inner {
    width: 100% !important;
    padding-bottom: 15%;
  }
  .flex-inner:nth-child(2) {
    margin-top: -50% !important;
  }
  .flex-inner p {
    width: 80%;
    margin: 0 auto;
  }
  .flex-inner img {
    height: 50% !important;
    width: 60% !important;
  }

  .booknow {
    position: static !important;
  }
  .wave {
    font-size: 10px !important;
  }
  .signupbtn {
    position: static !important;
  }
  .close {
    position: static !important;
  }
  .signinbtn {
    position: static !important;
  }
}

@media only screen and (max-width: 600px) {
  .homeimage {
    margin-top: -25%;
    height: 80vw !important;
  }
  .signinbutton {
    margin-top: -4% !important;
  }
  #logout {
    margin-top: -4% !important;
  }
  #logo {
    left: 85%;
    margin-top: -6%;
  }
  .title {
    padding-top: 35% !important;
    font-size: 25px !important;
  }
  .titletwo {
    font-size: 25px !important;
  }
  .Home {
    height: fit-content !important;
  }
  .flex-wrapper {
    display: flex;
    flex-direction: column !important;
    height: 210vh !important;
    margin-top: -30% !important;
  }
  .flex-inner {
    width: 100% !important;
    padding-bottom: 15%;
  }
  .flex-inner:nth-child(2) {
    margin-top: -50% !important;
  }
  .flex-inner p {
    width: 80%;
    margin: 0 auto;
  }
  .flex-inner img {
    height: 50% !important;
    width: 60% !important;
  }

  .booknow {
    position: static !important;
  }
  .wave {
    font-size: 10px !important;
  }
  .signupbtn {
    position: static !important;
  }
  .close {
    position: static !important;
  }
  .signinbtn {
    position: static !important;
  }
}

@media only screen and (max-width: 320px) {
  .homeimage {
    margin-top: -32%!important;
    height: 120vw !important;
  }
  .HomeButtons {
    position: static !important;
    min-width: 80px !important;
    padding-top: 17% !important;
    height: 45px !important;
  }
  .signinbutton {
    margin-top: -4% !important;
  }
  #logout {
    margin-top: -4% !important;
  }
  #logo {
    left: 85%;
    margin-top: -6%;
  }
  .title {
    padding-top: 35% !important;
    font-size: 18px !important;
  }
  .titletwo {
    font-size: 18px !important;
  }
  .Home {
    height: fit-content !important;
  }
  .flex-wrapper {
    display: flex;
    flex-direction: column !important;
    height: 210vh !important;
    margin-top: -30% !important;
  }
  .flex-inner {
    width: 100% !important;
    padding-bottom: 15%;
  }
  .flex-inner:nth-child(2) {
    margin-top: -50% !important;
  }
  .flex-inner p {
    width: 80%;
    margin: 0 auto;
  }
  .flex-inner img {
    height: 45% !important;
    width: 95% !important;
  }

  .booknow {
    position: static !important;
    padding-top: 5% !important;
    font-size: 14px !important;
  }
  .wave {
    font-size: 7px !important;
  }
  .signupbtn {
    position: static !important;
  }
  .close {
    position: static !important;
  }
  .signinbtn {
    position: static !important;
  }
}
