@import url("https://fonts.googleapis.com/css2?family=Arapey:ital@1&display=swap");

html,
body {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: sans-serif !important;
}

.inner-session {
  display: flex;
  flex-direction: column;
  width: 90%;
}
.translator {
  position: absolute;
  z-index: 10;
}
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
#logo {
  position: relative;
  left: 20%;
  top: 10%;
  z-index: 15;
  border-radius: 50%;
  border-radius: 50%;
  box-shadow: 3px 3px 3px #141413;
}
#logo:hover {
  animation: rotate 1s forwards;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
    border: 3px black solid;
  }
  100% {
    transform: rotate(-360deg);
    border: 3px white solid;
  }
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  transform: scale(0.7);
}
.events-banner{
  background: url('./Images//events\ page.jpg');
  background-size: cover;
  background-attachment: fixed;
  padding-top: 10%!important;
  margin-top: -11%;
  padding-bottom: -20%!important;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: gray;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: white;
}

input:focus + .slider {
  box-shadow: 0 0 1px gray;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.footer {
  overflow: hidden !important;
}
@media only screen and (max-width:480px){
 .switch1{
   top:16%!important;
   left:45%!important;
 }
 .label1{
   top:16.5%!important;
   left:42%!important;
 }
 .label2{
  top:16.5%!important;
  left:57%!important;
}

.switch2{
  top:14%!important;
  left:45%!important;
}
.label3{
  top:14.5%!important;
  left:42%!important;
}
.label5{
 top:14.5%!important;
 left:57%!important;
}
}
